<!-- Main -->
<main>
    <!-- books-container -->
    <div id="books-container">
        <!-- books-card -->
        <div id="books-card" *ngFor="let book of list" (click)="showDetails(book.key)">
            <!-- card-content -->
            <div class="card-content">
                 {{book.title}}
                <p *ngFor="let author of book.authors">{{author.name}}</p>
            </div>
            <!-- card-content -->

        </div>
        <!-- books-card -->

    </div>
    <!-- books-container -->

    <!-- detail popup container -->
    <div id="popup-1" class="{{showDetail}}">
        <div class="overlay"></div>
        
        <!-- description details -->
        <div id="content" class="content">
            <div id="close-btn" class="close-btn" (click)="close()" >&times;</div>
        <div class="description-container"><h2>{{title}}</h2>
            <p>{{description}}</p>
        </div>
            <img src="{{srcImg}}">
        </div>
        <!-- description details-->

    </div>
    <!-- detail popup container -->

</main>
<!-- Main -->
